.plusOne {
  user-select: none;
  pointer-events: none;
  animation: moveUp 0.8s ease-out forwards;
}

.pointerAndSelectNone {
  user-select: none;
}

@keyframes moveUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    font-size: 10px;
    transform: translateY(-90px);
  }
}
